.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #263238;
  color: #fff;
}

.main {
  display: flex;
    justify-content: center;
    width: 1182px;
    flex-direction: column;
    background-color: #0f1416;
    margin: 80px 0;
    padding: 18px;
}

.content {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.content-main {
  width: 800px;
  min-height: 500px;
}

.widget-area {
  width: 300px;
  height: 580px;
  flex: 1;
  margin-left: 20px;
  
}
