.wrapper{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    background-color: rgba($color: #333, $alpha: 1);
    color: #ffffffe0;
    z-index: 20;
}

.header{
    display: flex;
    width: 1182px;
    height: 60px;
    justify-content: space-between;
    align-items: center;
}

.logo{
    margin-left: -20px;
}

.options-header{
    display: flex;
    align-items: center;
}

.login-btn{
    display: flex;
    justify-content: center;
    margin-left: 10px;
}

.avatar{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-left: 30px;
    margin-right: 15px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    object-fit: cover;

    &:hover{
        transform: scale(1.1);
    }
}
