.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 50px;
  font-size: 1.5rem;
  width: 100%;
  min-height: 100px;
  background-color: rgba($color: #333, $alpha: 0.4);
  color: #ffffff5f;
}

.more-contain {
  position: relative;
  display: flex;
  align-items: center;
  height: 50px;
  width: 91%;
  background-color: #000;
}

.logo {
}

.more {
  display: flex;
  align-items: center;
  height: 100%;
  width: auto;
  margin-left: 30px;
  cursor: pointer;

  & a {
    display: flex;
    align-items: center;
    height: 100%;
    color: #ffffffad;
  }

  & a ~ a {
    margin-left: 20px;
  }

  & a:hover {
    color: #fff;
  }
}

.active {
  color: #e3184ec0 !important;
  border-bottom: 2px solid #69db11a7;
  pointer-events: none;
  font-weight: 600;
}

.social-list {
  position: absolute;
  right: 10px;
  display: flex;
  align-items: center;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ffffff35;
  width: 30px;
  height: 30px;
  cursor: pointer;

  & svg {
    width: 20px;
    height: 20px;
    fill: #e6e2e2bd;
  }

  & svg:hover {
    fill: #e6e2e2ed;
  }

  & ~ .icon {
    margin-left: 5px;
  }
}

.arrowup-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: #b5e745;
  color: #fff;
}

.tag {
  display: flex;
  padding: 10px;

  & a {
    color: #ffffff87;
  }

  & a ~ a {
    margin-left: 8px;
  }
}

.contact {
  display: flex;
  align-items: center;
  padding: 10px;
}

.email {
  color: #ffffff6f !important;

  &:hover {
    background-color: transparent !important;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  margin-top: 10px;
  padding: 8px;
  font-size: 2.2rem;
  font-weight: 700;
}
.describe {
  padding: 8px;
  margin-bottom: 50px;
}
